html, body {
    height: 100%;
}

.sidebar {
    width: 150px;
    border-right: 2px solid lightblue;
}

.sidebar-title {
    font-weight: bolder;
}

.link-active {
    font-weight: bold;
}

#channel-list-container, #user-list-container, #messages-container {
    padding: 10px;
    overflow: auto;
}

#messages, #channels, #users {
    list-style: none;
    padding: 0px;
    margin-left: 0px;
}

#change-username-container {
    border-top: 2px solid lightblue; 
}

#messages-container {
    border-bottom: 2px solid lightblue;
    min-height: 95%;
}

#message-form-container {
    min-height: 1.5rem;
}

#m {
    border: 0;
    width: 93%
}

.timestamp {
    color: grey;
    font-size: 50%;
}

