{% extends "layout.html" %}

{% block sidebar %}

<div class="row h-50">
    <div id="channel-list-container">
        <span class="sidebar-title">Channels</span>
        <br>
        <ul id="channels" class="ml-1">
    
        </ul>
    </div>
    
    
</div>

<div class="border-bottom"> 
    <a href="#" id="create-channel"><small>create new channel</small></a>
</div>

<div class="row h-50">
    <div id="user-list-container">
        <span class="sidebar-title">Users</span>
        <br>
        <ul id="users">
    
        </ul> 
    </div>
        
</div>

{% endblock %}

{% block main %}

<div class="row h-75 border-bottom">
    <ul id="messages">

    </ul>
</div>

<div class="row w-100">
    <form class="form-inline w-100">
            <input type="text" class="form-control mr-3" id="m" autofocus>
            <button type="submit" class="btn btn-secondary" id="send">Send</button>
    </form>
</div>

{% endblock %}